{% extends 'borders.twig' %}

{% block content %}
  <strong></strong>
      <h2></h2>
  
      <p>The American Heart Association (AHA) sites Cardiovascular Disease and Stroke as the Number 1 and Number 5 killers.  Awareness and action can defeat heart disease.  Team E3 seeks to help increase Awarenss and Action, such as:</p>
         <ul>
         <li>participating in events like the Annual Heart Walk and other activies which promote Cardiovascular health</li>
         <li>helping AHA raise funds for research and development to improve diagnosis, prevention and treatment of Cardiovascular Disease</li>
         </ul>
       
    <p>Thank you for visiting our page!  If you have an idea for the Heart Walk, please let us know.</p>

    <form action="" method="post">
      <fieldset>
        <input name="name" type="text" placeholder="Your Name">
        <input name="email" type="email" placeholder="Email Address">
        <textarea name="msg" placeholder="Heart Walk Idea"></textarea>
        <input type="submit" class="button">
      </fieldset>
    </form>

    <p>To register with Team E3 for the Kentuckiana Heart Walk and/or donate to American Heart Association, visit <a href="http://heartwalk.kintera.org/faf/donorReg/donorPledge.asp?ievent=1126077&lis=1&kntae1126077=CCA9B932599D49CDBC70A9C01261EB85&supId=261902726&emaillogid=">2015 Heart Walk/Team E3</a>.</p>
    
    {% endblock content %}