{% extends 'borders.twig' %}

{% block content %}
  <strong></strong> 
     
 <div id="wrapper">

 <h2>Awareness and Action</h2>
 <h3></a>CLICK HERE for Heart-related <a href="{{ siteUrl('/food.php') }}">Food for Thought*</a>.&nbsp;&nbsp;CONSIDER these and other Cardiovascular topics and best practices, and ENCOURAGE others to do the same.&nbsp;&nbsp;REMEMBER, Awareness and Action can beat Cardiovascular Disease and Stroke!</h3>
 
 <p>*Composed of data in <a href="http://www.heart.org/HEARTORG/Encyclopedia/Heart-Encyclopedia_UCM_445084_Encyclopedia.jsp?levelSelected=8">AHA's Heart and Stroke Encyclopedia.</a>&nbsp;Table designed and developed by JWilliams for E3.</p>

 <h2>Team E3 Challenge: Together, We Can Achieve More is Why!</h2>
 <ul>
  <li><b>CHALLENGE</b> yourself and others to increase Awareness and Action...TODAY!</li>
  <li><b>MEET</b> with a healthcare practioner for more details on the above-described Heart topics and other healthcare best practices.</li>
  <li><b>REGISTER</b> with Team E3 for Kentuckiana Heart Walk and/or <b>DONATE</b> to American Heart Association: <a href="http://heartwalk.kintera.org/faf/donorReg/donorPledge.asp?ievent=1126077&lis=1&kntae1126077=CCA9B932599D49CDBC70A9C01261EB85&supId=261902726&emaillogid="><b>2015 Heart Walk/Team E3</b></a>.</li>
 </ul>
</div>

{% endblock content %}