{% extends 'borders.twig' %}

{% block content %}
  <strong></strong>
       
  <div id="wrapper">
      <section>
      <h3>Learn More </h3>
       <ul class="next">
        <li class="cvaware"><a href="http://heart.org">Cardiovascular Disease and Stroke</a></li>
        <li class="AHAorg"><a href="http://heart.org">American Heart Association</a></li>
        <li class="local"><a href="http://heart.org">HEART Stories</a></li>
      </ul>
    </section>

      <section>
      <h3>Register for the Heart Walk</h3>
      <ul class="next">
      <li><a href="http://www.kintera.org/faf/search/searchTeamPart.asp?ievent=1126077&lis=1&kntae1126077=CCA9B932599D49CDBC70A9C01261EB85&team=6387466&tlteam=6304851">2015 Kentuckiana Heart Walk</a></li>
      </ul>
      </section>

      <section>
      <h3>Donate</h3>
      <ul class="next">
      <li><a href="http://heartwalk.kintera.org/faf/donorReg/donorPledge.asp?ievent=1126077&lis=1&kntae1126077=CCA9B932599D49CDBC70A9C01261EB85&supId=261902726&emaillogid=">Donate to the American Heart Association</a></li>
      </ul>
      </section>
</div>
{% endblock content %}